# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
